<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/pgNencontra.css">
  <title>Página Não Encontrada - 404</title>
</head>
<body>
  <h1>Oops! Parece que você se perdeu.</h1>
  <p>A página que você está tentando acessar não foi encontrada. Pode ser que tenha sido removida, renomeada ou simplesmente não exista.</p>
  <p>Volte à <a href="/">página inicial</a> ou utilize a navegação para encontrar o que procura.</p>
</body>
</html>
